<html>
  <head>
    <title>Blog App</title>
    <link rel='stylesheet' href='./styles/styles.css' />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/dashboard'>Dashboard</a></li>
          {{#if logged_in}}
             <button class="no-button" id="logout">logout</button>
          {{else}}
            <li><a href='/login'>Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>