{{#if logged_in}}
  <h2>Dashboard</h2>

  <div id="myBlogs">
    {{#each blog}}
      <ul>
        <h3><a href="/Blogpost/{{{id}}}">{{{title}}}</a></h3>
        <button data-id="{{id}}" class="delete">Delete</button>
      </ul>
    {{/each}}
  </div>

  <form class="form signup-form">
    <div class="form-group">
      <label for="blog-name">Title:</label>
      <input class="form-input" type="text" id="blog-name" name="blog-name" required>
    </div>

    <div class="form-group">
      <label for="blog-desc">Content:</label>
      <textarea class="form-input" id="blog-desc" name="blog-desc" required></textarea>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" id="post-button">Post</button>
    </div>
  </form>

{{else}}
  <a href="/login">You must log in first to view this page.</a>
{{/if}}

<script src="./js/post.js"></script>